html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Acme';
	font-style: normal;
	font-weight: 400;
	src: local('Acme'), local('Acme-Regular'), url('acme.woff') format('woff');
}

@font-face {
	font-family: 'Calligraffitti';
	font-style: normal;
	font-weight: 400;
	src: local('CalliGraffitti'), local('CalliGraffitti-Regular'), url('calligraffitti.woff') format('woff');
}


html {
}

body {
	font-family: 'Acme', sans-serif;
	font-style:  normal;
	font-weight: 400;	margin: 0;
	padding: 10px;
	background-color: white;
	font-size: 1em;
}

h1 {
	padding: 0;
	font-size: 3em;
	margin: 0;
	text-align: center;
	color: darkred;
}

h2 {
	padding: 0;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	text-align: center;
	color: blue;
}

h3 {
	font-size: 1.4em;
	color: #679;
}

label {
	color: #555;
}

textarea {
	height: 100px;
}

div#mainwrapper {
	margin: 0 auto;
}

div#top {
	padding: 0;
	margin: 10px 0 0 0;
}

a#logout {
	position: absolute;
	top: 5px;
	right: 5px;
}

a#logout img {

}

div#middle {
	clear: both;
	padding: 10px 0 0 0;
	text-align: justify;
}

div#adminmenu {
	padding: 25px;
	border-radius: 10px;
	width: 400px;
	margin: 50px auto 0 auto;
	background-color: lightgoldenrodyellow;
	background-image: linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
}

div#adminmenu h2 {
	font-size: 2.2em;	
}

div#adminmenu ul {
	font-size: 1.6em;	
	margin: 10px 10px 10px 30px;
}

div#adminmenu ul li {
	list-style-type: circle;
	margin: 5px 0;
}
div#adminmenu ul li a {
	font-size: 0.9em;
	text-decoration: none;
	color: black;
}

div#adminmenu ul li a:hover {
	color: red;
} 

div#sheet {
	color: #555;
	border-radius: 10px;
	width: 600px;
	padding: 20px;
	margin: 20px auto 0 auto;
	background-color: lightgoldenrodyellow;
	background-image: linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	box-shadow: 2px 2px 10px #aaa;
}

div#sheet h3 {
	margin: 10px 0 0 0;
}

div#sheet textarea, div#sheet input[type=text] {
	margin: 10px;
	padding: 5px;
	border: none;
	background-color: white;
	width: 530px;
	border-radius: 10px;
}

div#sheet input[type=submit] {
	margin: 10px;
	color: white;
	background-color: red;
	border-radius: 10px;
	padding: 10px;
	border: none;
	float: right;
	cursor: pointer;
	font-weight: bold;
}

textarea.big {
	height: 400px;
}

div#themes {
	margin: 0;
}

div#themes table {
	border-collapse: collapse;
	width: 100%;
}

div#themes table tr {

}

div#themes table tr th, div#themes table tr td {
	padding: 0;
	vertical-align: middle;
	text-align: center;
	border-radius: 10px;
	border: 1px solid white;		
}  

div#themes table tr th {
	background-color: #679;
	color: white
}

div#themes table tr th.invisible {
	border: none;
	background-color: white;
}

div#themes table tr td {
	background-color: #eea;
}

div#themes table tr.inactivetheme td {
	background-color: #eaa;
}

div#themes table tr td img {
	border-radius: 5px;
	margin: 0;
	padding: 0;
}

a#backToThemes {
	position: absolute;
	top: 10px;
	left: 10px;
}

a#newTheme {
	position: absolute;
	top: 10px;
	left: 80px;
}
.shadow {
	box-shadow: 2px 2px 10px #aaa;
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	transform:rotate(-2deg);
}

.rotate {
	-moz-transform:rotate(-5deg);
	-webkit-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
}
