/* RESET: */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CLEARFIX: */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both
}
.cf {
    *zoom: 1
}

/* JOJO */
html {
    font-size: 16px;
}

body {
    font-family: 'Acme', sans-serif;
    font-size: 0.625em;
    padding: 5px;
    background: #bcf;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.15em;
}

#mainwrapper {
    width: 100%;
    font-size: 1.5em;
}

#logo {
    float: left;
}

#shownotes {
    display: none;
}

#telephonenumberwrapper, #openedwrapper, #sheet {
    background: #FFA;
}

#telephonenumberwrapper {
    float: right;
    margin: 0;
    padding: 4px;
    line-height: 1.25em;
    color: #333;
    font-size: 0.8em;
}

#openedwrapper {
    float: right;
    margin: 0 5px 0 0;
    padding: 4px;
    line-height: 1.25em;
    color: #333;
    font-size: 0.8em;
}

#menuwrapper {
    width: 100%;
}

.menuitem {
    display: block;
    float: left;
    margin: 0.7em 1% 0 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 2em;
    width: 14%;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menuitem.big {
    width: 34%;
}

#menu1 {
    background-color: #f00;
    background-image: linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
    background-image: -o-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
}

#menu2 {
    background-color: #00f;
    background-image: linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
}

#menu3 {
    background-color: #0f0;
    background-image: linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
    background-image: -o-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
}

#menu4 {
    background-color: #f90;
    background-image: linear-gradient(bottom, rgb(187,96,0) 25%, rgb(255,187,0) 75%);
    background-image: -o-linear-gradient(bottom, rgb(187,96,0) 25%, rgb(255,187,0) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(187,96,0) 25%, rgb(255,187,0) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(187,96,0) 25%, rgb(255,187,0) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(187,96,0) 25%, rgb(255,187,0) 75%);
}

#menu5 {
    background-color: #909;
    background-image: linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
    background-image: -o-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
}

#middle {
    clear: both;
    padding: 10px 0 0 0;
    text-align: justify;
}

#sheet {
    color: #555;
    padding: 5px;
    margin: 20px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sheettitle {
    font-size: 1.5em;
    margin: 0 0 20px 0;
    text-align: center;
    color: red;
}

#middle #sheet p {
    line-height: 1.2em;
}

div.mainimagewrapper {
    text-align: center;
    padding: 30px 0 20px 0;
}

div.mainimagewrapper .mainimg {
    border: 5px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.themewrapper {
    float: left;
    margin: 0.5%;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 2px 10px #aaa;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: red;
    width: 32%;
    box-sizing: border-box;
}

.themewrapper img {
    margin: 0 0 5px 0;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#bigthemewrapper {
    position: relative;
    text-align: center;
}

#bigthemewrapper .sheettitle {
    margin: 0 0 10px 0;
}

#bigthemewrapper img {
    border: 10px solid white;
    margin: 0 0 20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#arrowleft, #arrowright {
    font-size: 90px;
    top: 150px;
    position: absolute;
    z-index: 1;
}

#linkleft, #linkright {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#linkleft:hover, #linkright:hover {
    color: red;
}

#arrowleft {
    left: 0;
}

#arrowright {
    right: 0;
}

.glow {
    text-shadow: 0 0 10px #FEE;
}

.glowbox {
    -webkit-box-shadow: 0 0 10px #FEE;
    -moz-box-shadow: 0 0 10px #FEE;
    box-shadow: 0 0 10px #FEE;
}

td {
    padding:  0 5px 0 0;
}

.directions img {
    width: 100%;
}

.bigthemeimg {
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 590px) {
    #menuwrapper {
        float: left;
    }
    .menuitem {
        width: 31.333333%;
    }
    .menuitem.big {
        width: 64.666666%;
    }
    .themewrapper {
        width: 49%;
    }
    #arrowleft, #arrowright {
        font-size: 80px;
        top: 100px;
        line-height: 160px;
    }
}

@media screen and (max-width: 470px) {
    #logo {
        width: 30%;
    }
    .logoimg {
        width: 100%;
    }
    #logo.hide {
        display: none;
    }
    #shownotes {
        display: block;
        float: right;
        cursor: pointer;
        background-color: #909;
        background-image: linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
        background-image: -o-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
        background-image: -moz-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
        background-image: -webkit-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
        background-image: -ms-linear-gradient(bottom, rgb(96,0,96) 25%, rgb(187,0,187) 75%);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        line-height: 2em;
        padding: 0 1em;
        color: #fff;
    }
    #shownotes.hide {
        display: none;
    }
    #noteswrapper {
        display: none;
    }
    #noteswrapper.show {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .themewrapper {
        width: 99%;
    }
    #arrowleft, #arrowright {
        top: 50px;
        font-size: 50px;
        line-height: 100px;
    }
}

@media screen and (min-width: 600px) {

    .shadow, .themewrapper:hover, .menuitem:hover {
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
            progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2);

        -webkit-box-shadow: 2px 2px 10px #aaa;
        -moz-box-shadow: 2px 2px 10px #aaa;
        box-shadow: 2px 2px 10px #aaa;

        -o-transform:rotate(-2deg);
        -webkit-transform:rotate(-2deg);
        -moz-transform:rotate(-2deg);
        transform:rotate(-2deg);
    }

    .rotate, #logo:hover {
        -o-transform:rotate(-2deg);
        -webkit-transform:rotate(-2deg);
        -moz-transform:rotate(-2deg);
        transform:rotate(-2deg);
    }

    .rotatebackwards {
        transform:rotate(2deg);
        -moz-transform:rotate(2deg);
        -webkit-transform:rotate(2deg);
        -o-transform:rotate(2deg);
    }

    #sheet {
        padding: 20px;
        margin: 20px auto 0 auto;
        width: 80%;
    }

}

@media screen and (min-width: 770px) {
    #noteswrapper {
        float: right;
    }
    #menuwrapper {
        float: left;
        width: 41%;
    }
    .menuitem {
        line-height: 3em;
        margin: 0 1% 6px 1%;
    }
    #openedwrapper {
        margin: 0 5px;
    }

    .menuitem {
        width: 31.333333%;
    }

    .menuitem.big {
        width: 64.666666%;
    }

    .themewrapper {
        width: 24%;
    }

}

@media screen and (min-width: 800px) {
    #menuwrapper {
        width: 43%;
    }
}

@media screen and (min-width: 950px) {
    #mainwrapper {
        width: 950px;
        margin: 0 auto;
    }

    #menuwrapper {
        width: 52%;
        margin-left: 5px;
    }

    .bigthemeimg {
        width: 800px;
    }

    #arrowleft, #arrowright {
        font-size: 100px;
        top: 200px;
    }
}

