html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Acme';
	font-style: normal;
	font-weight: 400;
	src: local('Acme'), local('Acme-Regular'), url('acme.woff') format('woff');
}

@font-face {
	font-family: 'Calligraffitti';
	font-style: normal;
	font-weight: 400;
	src: local('CalliGraffitti'), local('CalliGraffitti-Regular'), url('calligraffitti.woff') format('woff');
}


html {
}

body {
	font-family: 'Acme' !important;
	font-style:  normal;
	font-weight: 400;	margin: 0;
	padding: 10px;
	font-family: sans-serif;
	font-size: 1em;
	background-color: #bcf;
	background: linear-gradient(bottom, #eef 0%, #bcf 100%);
	background: -o-linear-gradient(bottom, #eef 0%, #bcf 100%);
	background: -moz-linear-gradient(bottom, #eef 0%, #bcf 100%);
	background: -ms-linear-gradient(bottom, #eef 0%, #bcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeff', endColorstr='#bbccff');
	zoom:1;
	background-repeat: no-repeat;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.15em;
}

div#mainwrapper {
	width: 950px;
	margin: 0 auto;
}

div#top {
	float: left;
	width: 950px;
}

div#logowrapper {
	float: left;
}

div#telephonenumberwrapper {
	float: right;
	margin: 5px 5px 0 0;
	background-color: lightgoldenrodyellow;
	background-image: linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,195) 25%, rgb(252,252,214) 75%);
	padding: 5px;
}

div#telephonenumber {
	font-family: 'Calligraffitti';
	line-height: 1.3em;
	color: #333;
	font-size: 0.9em;
}

div#telephonenumber img {

}

div#menuwrapper {
	margin: 60px 0 0 10px;
	float: left;
}

div#menu1, div#menu2, div#menu3 {
	margin: 0 10px;
	float: left;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('css/border-radius.htc');
}

div#menu1 a, div#menu2 a, div#menu3 a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
}

div#menu1 {
	background-color: #f00;
	background-image: linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
	background-image: -o-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(187,0,0) 25%, rgb(255,0,0) 75%);
}

div#menu2 {
	background-color: #0f0;
	background-image: linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
	background-image: -o-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(0,187,0) 25%, rgb(0,255,0) 75%);
}

div#menu3 {
	background-color: #00f;
	background-image: linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,187) 25%, rgb(0,0,255) 75%);
}

div#middle {
	clear: both;
	padding: 10px 0 0 0;
	text-align: justify;
}

div#middle div#sheet {
	color: #555;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('border-radius.htc');
	width: 600px;
	padding: 20px;
	margin: 20px auto 0 auto;
	background-color: #ff8;
	background-image: -webkit-linear-gradient(bottom, #ff8 0%, #ffc 100%);
	background-image: linear-gradient(bottom, #ff8 0%, #ffc 100%);
	background-image: -o-linear-gradient(bottom, #ff8 0%, #ffc 100%);
	background-image: -moz-linear-gradient(bottom, #ff8 0%, #ffc 100%);
	background-image: -webkit-linear-gradient(bottom, #ff8 0%, #ffc 100%);
	background-image: -ms-linear-gradient(bottom, #ff8 0%, #ffc 100%);
}

div#middle div#sheet h1{
	font-size: 1.5em;
	margin: 0 0 20px 0;
	text-align: center;
	color: red;
}

div#middle div#sheet p {
	line-height: 1.2em;
}

div#mainimagewrapper {
	text-align: center;
	padding: 20px 0 0 0;
}

div#mainimagewrapper img {
	border: 10px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('border-radius.htc');
}

div#themesallwrapper {

}

div.themewrapper {
	float: left;
	margin: 8px;
	text-align: center;
	padding: 8px;
	box-shadow: 2px 2px 10px #aaa;
	background-color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('border-radius.htc');
}

div.themewrapper img {
	margin: 0 0 5px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior:url('border-radius.htc');
}

div.themewrapper a {
	text-decoration: none;
	color: red;
}

div#bigthemewrapper {
	text-align: center;
}

div#bigthemewrapper div#back {
	margin: 15px 0 0 20px;
	float: left;
}

div#bigthemewrapper div#back a {
	color: white;
	padding: 5px;
	text-decoration: none;
	background-color: red;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('border-radius.htc');
}

div#bigthemewrapper h1 {
	font-size: 1.5em;
	margin: 0 0 10px 0;
	color: red;
}

div#bigthemewrapper img {
	border: 10px solid white;
	margin: 0 0 20px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url('border-radius.htc');
}

div#bigthemewrapper p {
	margin: 20px 0 0 0;
	line-height: 1.2em;
}

div#bigthemewrapper div#arrowleft, div#bigthemewrapper div#arrowright {
	font-size: 100px;
	margin-top: 150px;
}

div#bigthemewrapper div#arrowleft a, div#bigthemewrapper div#arrowright a {
	color: white;
	text-decoration: none;
}

div#bigthemewrapper div#arrowleft a:hover, div#bigthemewrapper div#arrowright a:hover {
	color: red;
}

div#bigthemewrapper div#arrowleft {
	float: left;
}

div#bigthemewrapper div#arrowright {
	float: right;
}

.shadow {
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
		progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2);

	box-shadow: 2px 2px 10px #aaa;
	-moz-box-shadow: 2px 2px 10px #aaa;
	-webkit-box-shadow: 2px 2px 10px #aaa;

	transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
}

.rotate {
	transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
}

table {

}

table tr {

}

table tr th {

}

table tr td {
	padding:  0 5px 0 0;
}